example-project/flows.json
[
    {
        "id": "f08a883514427114",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e61e769088c22705",
        "type": "group",
        "z": "f08a883514427114",
        "name": "oauth2",
        "style": {
            "fill": "#bfc7d7",
            "label": true
        },
        "nodes": [
            "c11eb7aff843bd09",
            "dbf002e7839fdaf4"
        ],
        "x": 48,
        "y": 33,
        "w": 1224,
        "h": 374
    },
    {
        "id": "c11eb7aff843bd09",
        "type": "group",
        "z": "f08a883514427114",
        "g": "e61e769088c22705",
        "name": "by node",
        "style": {
            "label": true,
            "fill": "#e3f3d3"
        },
        "nodes": [
            "fa297a2263ccab64",
            "b09fcda36b29337e",
            "68ce0e033979d11d",
            "92a15df57cfde3ad",
            "be9f8d3e5126b0aa",
            "457c466345b3c830",
            "41140191adba1afc"
        ],
        "x": 74,
        "y": 59,
        "w": 1172,
        "h": 142
    },
    {
        "id": "dbf002e7839fdaf4",
        "type": "group",
        "z": "f08a883514427114",
        "g": "e61e769088c22705",
        "name": "by msg.oauth2Request",
        "style": {
            "label": true,
            "fill": "#bfdbef"
        },
        "nodes": [
            "5f5889fc9873830c",
            "5eedef6eb8215636",
            "e92113c4c92e02b9",
            "6adbb00a164f0d30",
            "aa78cee9cf6b05a4",
            "da4c05becf924c6a",
            "00bcb23670663c56",
            "45f3fe7fbbf39317",
            "46b228cee11e3ebd"
        ],
        "x": 74,
        "y": 219,
        "w": 952,
        "h": 162
    },
    {
        "id": "92a15df57cfde3ad",
        "type": "junction",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "41140191adba1afc"
            ]
        ]
    },
    {
        "id": "c0a4ef47cc5676c7",
        "type": "sqlitedb",
        "db": "/tmp/mysql",
        "mode": "RWC"
    },
    {
        "id": "fa297a2263ccab64",
        "type": "debug",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "b09fcda36b29337e",
        "type": "oauth2",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "Client Credentials",
        "container": "oauth2Response",
        "containerOpts": "msg",
        "errorHandling": "other output",
        "grantType": "clientCredentials",
        "grantOpts": "oauth2Request",
        "accessTokenUrl": "adfsdfasd",
        "clientId": "fasdfasdf",
        "clientSecret": "asdfasdf",
        "scope": "*asdfadsfasdf",
        "password": "",
        "internalErrors": {
            "readUrl": false
        },
        "rejectUnauthorized": true,
        "clientCredentialsInBody": "",
        "disableInput": false,
        "keepAuth": "",
        "devMode": false,
        "showBanner": false,
        "outputs": 2,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "92a15df57cfde3ad"
            ],
            []
        ]
    },
    {
        "id": "68ce0e033979d11d",
        "type": "inject",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b09fcda36b29337e"
            ]
        ]
    },
    {
        "id": "be9f8d3e5126b0aa",
        "type": "inject",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "457c466345b3c830"
            ]
        ]
    },
    {
        "id": "457c466345b3c830",
        "type": "oauth2",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "Password",
        "container": "oauth2Response",
        "containerOpts": "oauth2Response",
        "errorHandling": "",
        "grantType": "password",
        "grantOpts": "oauth2Request",
        "accessTokenUrl": "asfdasdf",
        "clientId": "asdfasdf",
        "clientSecret": "dasfasdfasdf",
        "scope": "asdfasdfasdfsadf",
        "userName": "asdfasdf",
        "password": "asdfsdf",
        "internalErrors": {
            "readUrl": false
        },
        "rejectUnauthorized": true,
        "clientCredentialsInBody": "",
        "disableInput": false,
        "keepAuth": "",
        "devMode": false,
        "showBanner": false,
        "outputs": 1,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "92a15df57cfde3ad"
            ]
        ]
    },
    {
        "id": "41140191adba1afc",
        "type": "function",
        "z": "f08a883514427114",
        "g": "c11eb7aff843bd09",
        "name": "Set accessToken",
        "func": "// if (msg.oauth2Response.accessToken) {\n    // global.set('accessToken', msg.oauth2Response.accessToken);\n// }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 120,
        "wires": [
            [
                "fa297a2263ccab64"
            ]
        ]
    },
    {
        "id": "5f5889fc9873830c",
        "type": "function",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "Password",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"headers\": {\n        \"caputo1\": 1,\n        \"caputo2\": 2\n    },\n    \"rejectUnauthorized\": true,\n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"username\": \"pedroetb\",\n        \"password\": \"password\"   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "45f3fe7fbbf39317"
            ]
        ]
    },
    {
        "id": "5eedef6eb8215636",
        "type": "function",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "Refresh Token",
        "func": "let refreshToken = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"refresh_token\": refreshToken   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "45f3fe7fbbf39317"
            ]
        ]
    },
    {
        "id": "e92113c4c92e02b9",
        "type": "inject",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "5f5889fc9873830c"
            ]
        ]
    },
    {
        "id": "6adbb00a164f0d30",
        "type": "inject",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "5eedef6eb8215636"
            ]
        ]
    },
    {
        "id": "aa78cee9cf6b05a4",
        "type": "debug",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "da4c05becf924c6a",
        "type": "inject",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "00bcb23670663c56"
            ]
        ]
    },
    {
        "id": "00bcb23670663c56",
        "type": "function",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "Client Credentials",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n        \"headers\": {\n        \"caputo1\": 1,\n        \"caputo2\": 2\n    },\n    \"rejectUnauthorized\": true,\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"confidentialApplication\",\n        \"client_secret\": \"topSecret\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "45f3fe7fbbf39317"
            ]
        ]
    },
    {
        "id": "45f3fe7fbbf39317",
        "type": "oauth2",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "container": "oauth2Response",
        "containerOpts": "oauth2Response",
        "errorHandling": "other output",
        "grantType": "password",
        "grantOpts": "oauth2Request",
        "accessTokenUrl": "URL",
        "clientId": "ID",
        "clientSecret": "SECRRE",
        "scope": "SCOPE",
        "userName": "USER",
        "password": "PASS",
        "authorizationEndpoint": "",
        "code": "",
        "internalErrors": {
            "readUrl": false
        },
        "rejectUnauthorized": false,
        "clientCredentialsInBody": false,
        "headers": [
            {
                "key": "asdfasdf",
                "value": "1",
                "type": "num"
            },
            {
                "key": "asdfadsf",
                "value": "true",
                "type": "bool"
            },
            {
                "key": "asdfasdfasdf",
                "value": "{\"nome\":\"nome\",\"sobrenome\":\"sobrenome\"}",
                "type": "json"
            },
            {
                "key": "asdfasfd",
                "value": "asdfasdf",
                "type": "str"
            }
        ],
        "disableInput": false,
        "keepAuth": false,
        "devMode": false,
        "showBanner": false,
        "outputs": 2,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "aa78cee9cf6b05a4"
            ],
            [
                "46b228cee11e3ebd"
            ]
        ]
    },
    {
        "id": "46b228cee11e3ebd",
        "type": "debug",
        "z": "f08a883514427114",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 320,
        "wires": []
    }
]