examples/Client Credentials, Password, and oauth2Request .json
[{"id":"ee01ea9dc7f8444d","type":"tab","label":"node-red-contrib-oauth2","disabled":false,"info":"","env":[]},{"id":"dbf002e7839fdaf4","type":"group","z":"ee01ea9dc7f8444d","g":"e61e769088c22705","name":"by msg.oauth2Request","style":{"label":true,"fill":"#bfdbef"},"nodes":["bbb398a4c6b6581d","0dbd3192fc8e6d8f","7d1cd69bfec40f16","5f5889fc9873830c","5eedef6eb8215636","1f9670457ea0fdeb","e92113c4c92e02b9","6adbb00a164f0d30","aa78cee9cf6b05a4","da4c05becf924c6a","00bcb23670663c56"],"x":74,"y":219,"w":1172,"h":162},{"id":"7d1cd69bfec40f16","type":"junction","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","x":880,"y":280,"wires":[[]]},{"id":"c11eb7aff843bd09","type":"group","z":"ee01ea9dc7f8444d","g":"e61e769088c22705","name":"by node","style":{"label":true,"fill":"#e3f3d3"},"nodes":["fa297a2263ccab64","b09fcda36b29337e","68ce0e033979d11d","92a15df57cfde3ad","be9f8d3e5126b0aa","457c466345b3c830","41140191adba1afc"],"x":74,"y":59,"w":1172,"h":142},{"id":"e61e769088c22705","type":"group","z":"ee01ea9dc7f8444d","name":"oauth2","style":{"fill":"#bfc7d7","label":true},"nodes":["dbf002e7839fdaf4","c11eb7aff843bd09"],"x":48,"y":33,"w":1224,"h":374},{"id":"92a15df57cfde3ad","type":"junction","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","x":860,"y":120,"wires":[["41140191adba1afc"]]},{"id":"0dbd3192fc8e6d8f","type":"junction","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","x":560,"y":300,"wires":[["bbb398a4c6b6581d"]]},{"id":"fa297a2263ccab64","type":"debug","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":120,"wires":[]},{"id":"b09fcda36b29337e","type":"oauth2","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"Client Credentials","container":"oauth2Response","access_token_url":"http://localhost:3000/oauth/token ","grant_type":"client_credentials","username":"pedroet","password":"","client_id":"confidentialApplication","client_secret":"topSecret","scope":"*","rejectUnauthorized":true,"headers":{},"x":710,"y":100,"wires":[["92a15df57cfde3ad"]]},{"id":"68ce0e033979d11d","type":"inject","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["b09fcda36b29337e"]]},{"id":"6adbb00a164f0d30","type":"inject","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["5eedef6eb8215636"]]},{"id":"5eedef6eb8215636","type":"function","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"Refresh Token","func":"let refreshToken = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"refresh_token\": refreshToken   \n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["0dbd3192fc8e6d8f"]]},{"id":"bbb398a4c6b6581d","type":"oauth2","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"Set by msg.oauth2Request","container":"oauth2Response","access_token_url":"http://localhost:3000/oauth/token ","grant_type":"set_by_credentials","username":"pedroet","password":"","client_id":"confidentialApplication","client_secret":"topSecret","scope":"*","rejectUnauthorized":true,"headers":{},"x":720,"y":300,"wires":[["1f9670457ea0fdeb"]]},{"id":"5f5889fc9873830c","type":"function","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"Password","func":"msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"username\": \"pedroetb\",\n        \"password\": \"password\"   \n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["0dbd3192fc8e6d8f"]]},{"id":"aa78cee9cf6b05a4","type":"debug","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"e92113c4c92e02b9","type":"inject","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["5f5889fc9873830c"]]},{"id":"1f9670457ea0fdeb","type":"function","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"Set refreshToken","func":"if (msg.oauth2Response.refreshToken) {\n    global.set('refreshToken',msg.oauth2Response.refreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":300,"wires":[["aa78cee9cf6b05a4"]]},{"id":"457c466345b3c830","type":"oauth2","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"Password","container":"oauth2Response","access_token_url":"http://localhost:3000/oauth/token ","grant_type":"password","username":"pedroetb","password":"password","client_id":"application","client_secret":"secret","scope":"*","rejectUnauthorized":true,"headers":{},"x":740,"y":160,"wires":[["92a15df57cfde3ad"]]},{"id":"be9f8d3e5126b0aa","type":"inject","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["457c466345b3c830"]]},{"id":"00bcb23670663c56","type":"function","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"Client Credentials","func":"msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"confidentialApplication\",\n        \"client_secret\": \"topSecret\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["0dbd3192fc8e6d8f"]]},{"id":"da4c05becf924c6a","type":"inject","z":"ee01ea9dc7f8444d","g":"dbf002e7839fdaf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":340,"wires":[["00bcb23670663c56"]]},{"id":"41140191adba1afc","type":"function","z":"ee01ea9dc7f8444d","g":"c11eb7aff843bd09","name":"Set accessToken","func":"if (msg.oauth2Response.accessToken) {\n    global.set('accessToken', msg.oauth2Response.accessToken);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":120,"wires":[["fa297a2263ccab64"]]}]