examples/flows.json
[
  {
    "id": "ee01ea9dc7f8444d",
    "type": "tab",
    "label": "node-red-contrib-oauth2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e61e769088c22705",
    "type": "group",
    "z": "ee01ea9dc7f8444d",
    "name": "oauth2",
    "style": { "fill": "#bfc7d7", "label": true },
    "nodes": ["dbf002e7839fdaf4", "c11eb7aff843bd09"],
    "x": 48,
    "y": 53,
    "w": 1224,
    "h": 454
  },
  {
    "id": "dbf002e7839fdaf4",
    "type": "group",
    "z": "ee01ea9dc7f8444d",
    "g": "e61e769088c22705",
    "name": "by msg.oauth2Request",
    "style": { "label": true, "fill": "#bfdbef" },
    "nodes": ["5f5889fc9873830c", "5eedef6eb8215636", "e92113c4c92e02b9", "6adbb00a164f0d30", "aa78cee9cf6b05a4", "da4c05becf924c6a", "00bcb23670663c56", "45f3fe7fbbf39317", "46b228cee11e3ebd", "a372ba5c6d5771bf"],
    "x": 74,
    "y": 319,
    "w": 1172,
    "h": 162
  },
  {
    "id": "c11eb7aff843bd09",
    "type": "group",
    "z": "ee01ea9dc7f8444d",
    "g": "e61e769088c22705",
    "name": "by node",
    "style": { "label": true, "fill": "#e3f3d3" },
    "nodes": ["fa297a2263ccab64", "68ce0e033979d11d", "be9f8d3e5126b0aa", "41140191adba1afc", "056845f12b39a3cb", "084d3c4873cfa182", "869cafeeb52b1b8e", "a08ca2c32f90727b", "cbb223124d975c13"],
    "x": 74,
    "y": 79,
    "w": 1172,
    "h": 222
  },
  {
    "id": "5f5889fc9873830c",
    "type": "function",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "Password",
    "func": "msg.oauth2Request = {\n  accessTokenUrl: \"http://localhost:8080/v1/oauth/tokens\",\n  rejectUnauthorized: true,\n  credentials: {\n    grantType: \"password\",\n    clientId: \"test_client_1\",\n    clientSecret: \"test_secret\",\n    scope: \"read_write\",\n    username: \"test@user\",\n    password: \"test_password\"\n  },\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 360,
    "wires": [["45f3fe7fbbf39317"]]
  },
  {
    "id": "5eedef6eb8215636",
    "type": "function",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "Refresh Token",
    "func": "let token = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    accessTokenUrl: \"http://localhost:8080/v1/oauth/tokens\",\n    credentials: {\n        grantType: \"refreshToken\",\n        clientId: \"test_client_1\",\n        clientSecret: \"test_secret\",\n        refreshToken: token   \n    },\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 400,
    "wires": [["45f3fe7fbbf39317"]]
  },
  {
    "id": "e92113c4c92e02b9",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 360,
    "wires": [["5f5889fc9873830c"]]
  },
  {
    "id": "6adbb00a164f0d30",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 400,
    "wires": [["5eedef6eb8215636"]]
  },
  {
    "id": "aa78cee9cf6b05a4",
    "type": "debug",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1150,
    "y": 360,
    "wires": []
  },
  {
    "id": "da4c05becf924c6a",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 440,
    "wires": [["00bcb23670663c56"]]
  },
  {
    "id": "00bcb23670663c56",
    "type": "function",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "Client Credentials",
    "func": "msg.oauth2Request = { \n    accessTokenUrl: \"http://localhost:8080/v1/oauth/tokens\",\n    rejectUnauthorized: true,\n    credentials: {\n        grantType: \"clientCredentials\",\n        clientId: \"test_client_1\",\n        clientSecret: \"test_secret\",\n        scope: \"read_write\"\n    },\n};\nreturn msg;\n// -v localhost:8080/v1/oauth/tokens \n// -u test_client_1:test_secret \n// -d \"grant_type=client_credentials\" \n// -d \"scope=read_write\"\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 440,
    "wires": [["45f3fe7fbbf39317"]]
  },
  {
    "id": "45f3fe7fbbf39317",
    "type": "oauth2",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "container": "oauth2Response",
    "containerOpts": "oauth2Response",
    "errorHandling": "other output",
    "grantType": "oauth2Request",
    "grantOpts": "oauth2Request",
    "accessTokenUrl": "http://localhost:8080/v1/oauth/tokens",
    "clientId": "test_client_1",
    "clientSecret": "test_secrets",
    "scope": "read_write",
    "password": "PASS",
    "authorizationEndpoint": "http://localhost:8080/web/authorize",
    "code": "1543e475-bdb7-467c-b7d5-cbfbfde345a0",
    "internalErrors": { "readUrl": false },
    "rejectUnauthorized": false,
    "clientCredentialsInBody": false,
    "headers": [],
    "disableInput": false,
    "keepAuth": false,
    "devMode": false,
    "showBanner": true,
    "proxy": "",
    "outputs": 2,
    "x": 700,
    "y": 400,
    "wires": [["a372ba5c6d5771bf"], ["46b228cee11e3ebd"]]
  },
  {
    "id": "46b228cee11e3ebd",
    "type": "debug",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 420,
    "wires": []
  },
  {
    "id": "a372ba5c6d5771bf",
    "type": "function",
    "z": "ee01ea9dc7f8444d",
    "g": "dbf002e7839fdaf4",
    "name": "Set accessToken",
    "func": "if (msg.oauth2Response && msg.oauth2Response.refreshToken) {\n    global.set('refreshToken', msg.oauth2Response.refreshToken);\n}\n\nif (msg.oauth2Response && msg.oauth2Response.accessToken) {\n    global.set('accessToken', msg.oauth2Response.accessToken);\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 360,
    "wires": [["aa78cee9cf6b05a4"]]
  },
  {
    "id": "fa297a2263ccab64",
    "type": "debug",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1150,
    "y": 120,
    "wires": []
  },
  {
    "id": "68ce0e033979d11d",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 140,
    "wires": [["a08ca2c32f90727b"]]
  },
  {
    "id": "be9f8d3e5126b0aa",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 200,
    "wires": [["cbb223124d975c13"]]
  },
  {
    "id": "41140191adba1afc",
    "type": "function",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "Set accessToken",
    "func": "if (msg.oauth2Response && msg.oauth2Response.refreshToken) {\n    global.set('refreshToken', msg.oauth2Response.refreshToken);\n}\n\nif (msg.oauth2Response && msg.oauth2Response.accessToken) {\n    global.set('accessToken', msg.oauth2Response.accessToken);\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 120,
    "wires": [["fa297a2263ccab64"]]
  },
  {
    "id": "056845f12b39a3cb",
    "type": "debug",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 180,
    "wires": []
  },
  {
    "id": "084d3c4873cfa182",
    "type": "oauth2",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "Authorization Code",
    "container": "oauth2Response",
    "containerOpts": "oauth2Response",
    "errorHandling": "other output",
    "grantType": "authorizationCode",
    "grantOpts": "oauth2Request",
    "accessTokenUrl": "http://localhost:8080/v1/oauth/tokens",
    "clientId": "test_client_1",
    "clientSecret": "test_secret",
    "scope": "read_write",
    "password": "PASS",
    "authorizationEndpoint": "http://localhost:8080/web/authorize",
    "code": "e267d117-1ce6-4690-af42-cb413ad105b1",
    "internalErrors": { "readUrl": false },
    "rejectUnauthorized": false,
    "clientCredentialsInBody": true,
    "headers": [{ "key": "asdf", "value": "asdfadsf", "type": "str" }],
    "disableInput": false,
    "keepAuth": false,
    "devMode": false,
    "showBanner": true,
    "proxy": "744f461cc5af7563",
    "outputs": 2,
    "x": 710,
    "y": 260,
    "wires": [["41140191adba1afc"], ["056845f12b39a3cb"]]
  },
  {
    "id": "869cafeeb52b1b8e",
    "type": "inject",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 260,
    "wires": [["084d3c4873cfa182"]]
  },
  {
    "id": "a08ca2c32f90727b",
    "type": "oauth2",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "Client Credentials",
    "container": "oauth2Response",
    "containerOpts": "oauth2Response",
    "errorHandling": "other output",
    "grantType": "clientCredentials",
    "grantOpts": "oauth2Request",
    "accessTokenUrl": "http://localhost:8080/v1/oauth/tokens",
    "clientId": "test_client_1",
    "clientSecret": "test_secret",
    "scope": "read_write",
    "userName": "",
    "password": "",
    "authorizationEndpoint": "",
    "code": "",
    "internalErrors": { "readUrl": false },
    "rejectUnauthorized": false,
    "clientCredentialsInBody": true,
    "headers": [],
    "disableInput": false,
    "keepAuth": false,
    "devMode": false,
    "showBanner": true,
    "proxy": "",
    "outputs": 2,
    "x": 730,
    "y": 140,
    "wires": [["41140191adba1afc"], ["056845f12b39a3cb"]]
  },
  {
    "id": "cbb223124d975c13",
    "type": "oauth2",
    "z": "ee01ea9dc7f8444d",
    "g": "c11eb7aff843bd09",
    "name": "password",
    "container": "oauth2Response",
    "containerOpts": "oauth2Response",
    "errorHandling": "other output",
    "grantType": "password",
    "grantOpts": "oauth2Request",
    "accessTokenUrl": "http://localhost:8080/v1/oauth/tokens",
    "clientId": "test_client_1",
    "clientSecret": "test_secret",
    "scope": "read_write",
    "userName": "test@user",
    "password": "test_password",
    "authorizationEndpoint": "",
    "code": "",
    "internalErrors": { "readUrl": false },
    "rejectUnauthorized": false,
    "clientCredentialsInBody": true,
    "headers": [{ "key": "", "value": "", "type": "str" }],
    "disableInput": false,
    "keepAuth": false,
    "devMode": false,
    "showBanner": false,
    "proxy": "",
    "outputs": 2,
    "x": 740,
    "y": 200,
    "wires": [["41140191adba1afc"], ["056845f12b39a3cb"]]
  },
  {
    "id": "744f461cc5af7563",
    "type": "http proxy",
    "name": "",
    "url": "http://localhost:8000",
    "noproxy": []
  }
]
