examples/Password, Client Credentials and Refresh Token.json
[
    {
        "id": "078b3875f3901362",
        "type": "tab",
        "label": "Password, Client Credentials and Refresh Token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be9f8d3e5126b0aa",
        "type": "inject",
        "z": "078b3875f3901362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "457c466345b3c830"
            ]
        ]
    },
    {
        "id": "457c466345b3c830",
        "type": "oauth2",
        "z": "078b3875f3901362",
        "name": "Password",
        "container": "oauth2Response",
        "grant_type": "password",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroetb",
        "password": "password",
        "client_id": "application",
        "client_secret": "secret",
        "scope": "*",
        "headers": {},
        "x": 380,
        "y": 220,
        "wires": [
            [
                "1f9670457ea0fdeb"
            ]
        ]
    },
    {
        "id": "fa297a2263ccab64",
        "type": "debug",
        "z": "078b3875f3901362",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "b09fcda36b29337e",
        "type": "oauth2",
        "z": "078b3875f3901362",
        "name": "Client Credentials",
        "container": "oauth2Response",
        "grant_type": "client_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "headers": {},
        "x": 350,
        "y": 40,
        "wires": [
            [
                "fa297a2263ccab64"
            ]
        ]
    },
    {
        "id": "68ce0e033979d11d",
        "type": "inject",
        "z": "078b3875f3901362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b09fcda36b29337e"
            ]
        ]
    },
    {
        "id": "6adbb00a164f0d30",
        "type": "inject",
        "z": "078b3875f3901362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "5eedef6eb8215636"
            ]
        ]
    },
    {
        "id": "5eedef6eb8215636",
        "type": "function",
        "z": "078b3875f3901362",
        "name": "Refresh Token",
        "func": "let refreshToken = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"refresh_token\": refreshToken   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "bbb398a4c6b6581d"
            ]
        ]
    },
    {
        "id": "bbb398a4c6b6581d",
        "type": "oauth2",
        "z": "078b3875f3901362",
        "name": "Set by msg.oauth2Request",
        "container": "oauth2Response",
        "grant_type": "set_by_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "headers": {},
        "x": 640,
        "y": 280,
        "wires": [
            [
                "1f9670457ea0fdeb"
            ]
        ]
    },
    {
        "id": "5f5889fc9873830c",
        "type": "function",
        "z": "078b3875f3901362",
        "name": "Password",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"username\": \"pedroetb\",\n        \"password\": \"password\"   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "bbb398a4c6b6581d"
            ]
        ]
    },
    {
        "id": "aa78cee9cf6b05a4",
        "type": "debug",
        "z": "078b3875f3901362",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "e92113c4c92e02b9",
        "type": "inject",
        "z": "078b3875f3901362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "5f5889fc9873830c"
            ]
        ]
    },
    {
        "id": "1f9670457ea0fdeb",
        "type": "function",
        "z": "078b3875f3901362",
        "name": "Set refreshToken",
        "func": "if (msg.oauth2Response.refreshToken) {\n    global.set('refreshToken',msg.oauth2Response.refreshToken);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "aa78cee9cf6b05a4"
            ]
        ]
    },
    {
        "id": "00bcb23670663c56",
        "type": "function",
        "z": "078b3875f3901362",
        "name": "Client Credentials",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"confidentialApplication\",\n        \"client_secret\": \"topSecret\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "ac78cb33d964efde"
            ]
        ]
    },
    {
        "id": "ac78cb33d964efde",
        "type": "oauth2",
        "z": "078b3875f3901362",
        "name": "Set by msg.oauth2Request",
        "container": "oauth2Response",
        "grant_type": "set_by_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "headers": {},
        "x": 620,
        "y": 100,
        "wires": [
            [
                "fa297a2263ccab64"
            ]
        ]
    },
    {
        "id": "da4c05becf924c6a",
        "type": "inject",
        "z": "078b3875f3901362",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "00bcb23670663c56"
            ]
        ]
    }
]
