examples/Sandbox PayPal - Client Credentials.json
[
    {
        "id": "72e7963b9de8af35",
        "type": "tab",
        "label": "Sandbox PayPal - Client Credentials",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f117adc7c6d5eaa8",
        "type": "group",
        "z": "72e7963b9de8af35",
        "style": {
            "stroke": "#252525",
            "stroke-opacity": "1",
            "fill": "#333333",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#dedede"
        },
        "nodes": [
            "2780178bada644f7",
            "9e85858ea4df0088",
            "82f4178f9194cbb8",
            "c8d388388152895c",
            "cb60e8ba8d3ba68d",
            "14081b8ca088bfd2",
            "2d3cfbc3fcd70215",
            "168cd28b2393979e",
            "a6e9517b45177ebd",
            "563c12011251d27f",
            "f32bb4b07f39677b",
            "38bbe523d42cab37",
            "b09c24bb8d44000e",
            "beafc39fd74fd160",
            "f275aa531f31eb83",
            "d748caa1e3dbd18b",
            "de5996b02d764c3f",
            "c3042abb625aa957"
        ],
        "x": 14,
        "y": 19,
        "w": 1032,
        "h": 488
    },
    {
        "id": "de5996b02d764c3f",
        "type": "group",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "style": {
            "stroke": "#2e333a",
            "stroke-opacity": "1",
            "fill": "#383c45",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "70b0160889f0a49f",
            "dcf9f0ad116eff3b",
            "d081d0eb8008368a",
            "b5d0334da65ea371",
            "308a40b7329fea31"
        ],
        "x": 274,
        "y": 359,
        "w": 732,
        "h": 122
    },
    {
        "id": "d748caa1e3dbd18b",
        "type": "junction",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "2780178bada644f7"
            ]
        ]
    },
    {
        "id": "308a40b7329fea31",
        "type": "junction",
        "z": "72e7963b9de8af35",
        "g": "de5996b02d764c3f",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "b5d0334da65ea371",
                "d081d0eb8008368a"
            ]
        ]
    },
    {
        "id": "c3042abb625aa957",
        "type": "junction",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "x": 860,
        "y": 160,
        "wires": [
            [
                "82f4178f9194cbb8"
            ]
        ]
    },
    {
        "id": "2780178bada644f7",
        "type": "http request",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "c3042abb625aa957"
            ]
        ]
    },
    {
        "id": "9e85858ea4df0088",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "POST credit-cards",
        "func": "let token = global.get('token');\nmsg = {\n    url: 'https://api.sandbox.paypal.com/v1/vault/credit-cards/',\n    method: 'POST',\n    headers: {\n        content_type: 'application/json',\n        authorization: `Bearer ${token}`\n    },\n    'payload':{\n      \"number\": \"4417119669820331\",\n      \"type\": \"visa\",\n      \"expire_month\": \"11\",\n      \"expire_year\": \"2024\",\n      \"first_name\": \"Joe\",\n      \"last_name\": \"Shopper\",\n      \"billing_address\": {\n        \"line1\": \"52 N Main St.\",\n        \"city\": \"Johnstown\",\n        \"country_code\": \"US\",\n        \"postal_code\": \"43210\",\n        \"state\": \"OH\",\n        \"phone\": \"408-334-8890\"\n      }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "d748caa1e3dbd18b"
            ]
        ]
    },
    {
        "id": "82f4178f9194cbb8",
        "type": "debug",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "c8d388388152895c",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "9e85858ea4df0088"
            ]
        ]
    },
    {
        "id": "cb60e8ba8d3ba68d",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "set token",
        "func": "global.set('token',msg.oauth2Response.access_token);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "c3042abb625aa957"
            ]
        ]
    },
    {
        "id": "14081b8ca088bfd2",
        "type": "oauth2",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "container": "oauth2Response",
        "grant_type": "client_credentials",
        "access_token_url": "https://api.sandbox.paypal.com/v1/oauth2/token",
        "username": "",
        "password": "",
        "client_id": "ATg1CMHw7GDbOH-XMd_IgzoksBNlvO_ieIyR-oBMoM_xiewyI7RrK8EOLMj438TAchfYtnVD6YeICHu2",
        "client_secret": "EP2Xdc1ni1YGoT8EMiYPWQHhUDLrPM4oOitsEJShS4zmSKIEX0nfArtDtauxxhgnJd7BxLyOfEoIjow6",
        "scope": "",
        "headers": {},
        "x": 450,
        "y": 60,
        "wires": [
            [
                "cb60e8ba8d3ba68d"
            ]
        ]
    },
    {
        "id": "2d3cfbc3fcd70215",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "14081b8ca088bfd2"
            ]
        ]
    },
    {
        "id": "168cd28b2393979e",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "a6e9517b45177ebd"
            ]
        ]
    },
    {
        "id": "a6e9517b45177ebd",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "POST orders",
        "func": "let token = global.get('token');\nmsg = {\n    url: 'https://api-m.sandbox.paypal.com/v2/checkout/orders',\n    method: 'POST',\n    headers: {\n        'Content-type': 'application/json',\n        'Authorization': `Bearer ${token}`\n    },\n    'payload':{\n      \"intent\": \"CAPTURE\",\n      \"purchase_units\": [\n        {\n          \"amount\": {\n            \"currency_code\": \"USD\",\n            \"value\": \"100.00\"\n          }\n        }\n      ]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d748caa1e3dbd18b"
            ]
        ]
    },
    {
        "id": "563c12011251d27f",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "f32bb4b07f39677b"
            ]
        ]
    },
    {
        "id": "f32bb4b07f39677b",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "GET invoices",
        "func": "let token = global.get('token');\nmsg = {\n    url: 'https://api-m.sandbox.paypal.com/v2/invoicing/invoices?total_required=true',\n    method: 'GET',\n    headers: {\n        content_type: 'application/json',\n        authorization: `Bearer ${token}`\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "d748caa1e3dbd18b"
            ]
        ]
    },
    {
        "id": "38bbe523d42cab37",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "POST generate-next-invoice-number",
        "func": "let token = global.get('token');\nmsg = {\n    url: 'https://api-m.sandbox.paypal.com/v2/invoicing/generate-next-invoice-number',\n    method: 'POST',\n    headers: {\n        content_type: 'application/json',\n        authorization: `Bearer ${token}`\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "d748caa1e3dbd18b"
            ]
        ]
    },
    {
        "id": "b09c24bb8d44000e",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "38bbe523d42cab37"
            ]
        ]
    },
    {
        "id": "beafc39fd74fd160",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "GET webhooks",
        "func": "let token = global.get('token');\nmsg = {\n    url: 'https://api-m.sandbox.paypal.com/v1/notifications/webhooks',\n    method: 'GET',\n    headers: {\n        content_type: 'application/json',\n        authorization: `Bearer ${token}`\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "d748caa1e3dbd18b"
            ]
        ]
    },
    {
        "id": "f275aa531f31eb83",
        "type": "inject",
        "z": "72e7963b9de8af35",
        "g": "f117adc7c6d5eaa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "beafc39fd74fd160"
            ]
        ]
    },
    {
        "id": "70b0160889f0a49f",
        "type": "http in",
        "z": "72e7963b9de8af35",
        "g": "de5996b02d764c3f",
        "name": "",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "dcf9f0ad116eff3b"
            ]
        ]
    },
    {
        "id": "dcf9f0ad116eff3b",
        "type": "function",
        "z": "72e7963b9de8af35",
        "g": "de5996b02d764c3f",
        "name": "x-real-ip",
        "func": "let ips = global.get('x-ip') || {};\n\nif ( msg.req.headers.host != \"localhost:1880\") {\n    \n    if (msg.req.headers[\"x-real-ip\"] in ips){\n        ips[msg.req.headers[\"x-real-ip\"]] = ips[msg.req.headers[\"x-real-ip\"]] + 1;\n    } else {\n        ips[msg.req.headers[\"x-real-ip\"]] = 1;\n    }\n    \n    global.set('X-Forwarded-For',  msg.req.headers[\"X-Forwarded-For\"]);\n    global.set('x-ip', ips);\n    \n    msg.payload = msg.req.headers[\"x-real-ip\"];\n    msg.ip = msg.req.headers[\"x-real-ip\"];\n    \n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "308a40b7329fea31"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "d081d0eb8008368a",
        "type": "http response",
        "z": "72e7963b9de8af35",
        "g": "de5996b02d764c3f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5d0334da65ea371",
        "type": "debug",
        "z": "72e7963b9de8af35",
        "g": "de5996b02d764c3f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 400,
        "wires": []
    }
]